{% extends 'base.html.twig' %}

{% block title %}Edit Deposit{% endblock %}

{% block body %}
    <h1>Edit Deposit</h1>

    {{ include('deposit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('deposit_index') }}">back to list</a>

    {{ include('deposit/_delete_form.html.twig') }}
{% endblock %}
