{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Dépôts{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datepicker') }}
{% endblock %}

{% block body %}
    <h1>Modifier dépôt</h1>

    {{ include('deposit/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
