{% extends 'base.html.twig' %}

{% block title %}Edit StrategyFarming{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('farming_form') }}
{% endblock %}

{% block body %}
    <h1>Modifier la stratégie de farming</h1>

    {{ include('strategy_farming/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
