{% extends 'base.html.twig' %}

{% block title %}Edit StrategyLP{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('lp_form') }}
{% endblock %}

{% block body %}
    <h1>Modifier la stratégie LP</h1>

    {{ include('strategy_lp/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
