{% extends 'base.html.twig' %}

{% block title %}New StrategyLP{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('lp_form') }}
    {{ encore_entry_script_tags('datepicker') }}
{% endblock %}

{% block body %}
    <h1>Ajouter un farming LP</h1>

    {{ include('strategy_lp/_form.html.twig') }}
{% endblock %}
