$primary: darken(#ffffff, 0%);
$form-check-input-checked-color: #ffc107;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~choices.js/public/assets/styles/choices.min.css";
@import "~pikaday/css/pikaday.css";
@import "~flatpickr/dist/flatpickr.min.css";

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.choices__item--selectable {
  color: #000000;
}

html {
  background-color: $dark;
}