$primary: darken(#ffffff, 0%);
$modal-content-bg: #212529;
$modal-header-border-color: #000;
$form-check-input-checked-color: #ffc107;
$list-group-bg: #212529;
$list-group-color: $primary;
$list-group-border-color: grey;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~choices.js/public/assets/styles/choices.min.css";
@import "~pikaday/css/pikaday.css";
@import "~flatpickr/dist/flatpickr.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


.choices__item--selectable {
  color: #000000;
}

html {
  background-color: $dark;
}

.th-actions {
  width: 250px;
}

.th-remove-collection {
  width: 65px;
}