{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Emprunts{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('select2') }}
{% endblock %}

{% block body %}
    <h1>Modifier emprunt</h1>

    {{ include('loan/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
