{% extends 'base.html.twig' %}

{% block title %}Edit StrategyDca{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dca_form') }}
    {{ encore_entry_script_tags('collection') }}
{% endblock %}

{% block body %}
    <h1>Modifier mon DCA</h1>

    {{ include('strategy_dca/_form.html.twig', {'button_label': 'Valider'}) }}
{% endblock %}
